*
  +no-cush
  font-size: 16px
  letter-spacing: 1.1px
  line-height: 1.9em
html
  +no-cush
  color: #262626

body
  +box-fluid
  font-family: Vollkorn

.intro-section
  min-height: 100%
  padding-top: 100px
  text-align: center
  color: #f1f1f1
  background: $clr-primary-custom
  @media (min-width: 700px)
    padding-top: 150px

.about-section
  min-height: 100vh
  padding: 60px 0
  text-align: center
  // background: #eee
  @media (min-width: 700px)
    padding-top: 100px

.services-section
  min-height: 100vh
  padding: 60px 0
  text-align: center
  background: #fff
  background-image: url('../img/paint-1.png')
  +bg-cover-fixed
  @media (min-width: 700px)
    padding-top: 100px

.contact-section
  min-height: 100vh
  padding: 20vh 0 40vh
  text-align: center
  background: $clr-lime
  background-image: url('../img/screen-1.jpg')
  +bg-cover-fixed
  // background-size: 100vw auto
  background-position: center
  background-repeat: no-repeat
  @media (min-width: 700px)
    padding-top: 100px

footer
  position: fixed
  bottom: 0
  right: 10px
  width: 100%
  text-align: right
  h5
    span
      font-size: 1em
      color: #f1f1f1
      text-shadow: .6px .6px $clr-patriot-blue
      @media (min-width: 700px)
        font-size: 1.25em
    a
      color: $clr-patriot-blue
      text-shadow: .8px .8px #fff
