.slide-show-container
  width: 90%
  // min-height: 80vh
  margin: 0 auto
  padding: 10px 0
  background: rgba(#fff, .8)
  @media (min-width: 700px)
    width: 60%

.carousel-container
  h2
    margin: 0 auto 20px

#myCarousel
  width: 90%
  margin: 0 auto
  @media (min-width: 700px)
    width: 60%
  img
    width: 100%
